<!-- <p-toast position="top-right" class="alert alert-warning" key="msg"></p-toast>
<p-toast key="msg" class="alert alert-warning">
  <ng-template pTemplate="message">
  </ng-template>
</p-toast> -->
<p-toast key="msg">
  <ng-template pTemplate="message">
      <button mat-button color="warn">Este es un botón de Angular Material</button>
  </ng-template>
</p-toast>


<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Bienvenido al CHALLENGE Intuit de Elias Vallejos</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none" />
      <path
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
        fill="#fff" />
    </svg>
  </a>
</div>
<div class="content" role="main">
  <p-toast position="top-right" key="msg"></p-toast>
  <div *ngIf="!seleccionoApp">
    <h4 style="margin-left: 180px; margin-bottom: 30px;">Aplicaciones</h4>
    <div class="card-container">
      <a class="card" (click)="selectApp('Clima');">
        <span class="material-symbols-outlined">cloud</span>
        &nbsp;&nbsp;
        <span>App Clima</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
      <a class="card" (click)="selectApp('Clientes');">
        <span class="material-symbols-outlined">group</span>
        &nbsp;&nbsp;
        <span>App Clientes</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </div>

  <!-- aca va la app del clima -->
  <div *ngIf="seleccionoApp" class="container">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body" style="width: 90%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <div *ngIf="spinner" class="spinner-border text-primary" role="status"
                  style="width: 180px; height: 180px; position:absolute; margin-top: -10px;">
                  <span class="sr-only">Loading...</span>
                </div>
                <img src="assets/clima.png" alt="Imagen del clima" width="200" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  <ng-select #paisesControl name="paisesControl" [(ngModel)]="paisSelect" [clearable]="false"
                    class="form-control btn-group" style="height: 50px;" (change)="seleccionaPais()">
                    <ng-option *ngFor="let item of paisesTodos" [value]="item.name">{{ item.name }}</ng-option>
                  </ng-select>
                  <div class="btn btn-primary dropdown-toggle"
                    (click)="paisSelect='';provinciaSelect='';paisesControl.toggle();"
                    style="cursor: pointer; margin-top: -55px; height: 50px;">
                    {{ paisSelect }}
                  </div>
                  <br>
                  <ng-select #provinciasControl name="provinciasControl" [(ngModel)]="provinciaSelect"
                    [clearable]="false" class="form-control btn-group" style="height: 50px;" (change)="buscarClima()">
                    <ng-option *ngFor="let item of provinciasDePais" [value]="item.name">{{ item.name }}</ng-option>
                  </ng-select>
                  <div class="btn btn-primary dropdown-toggle" (click)="provinciaSelect='';provinciasControl.toggle();"
                    style="cursor: pointer; margin-top: -55px; height: 50px;">
                    {{ provinciaSelect }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 90%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="200" style="margin-top: -20px;">
                <!-- <img src="https://v5i.tutiempo.net/wi/02/90/{{iconos[0]}}.png" alt="Imagen del clima" width="90" height="90" style="margin-top: -20px;"> -->
                <img src="{{icono}}" alt="Imagen del clima" width="90" height="90" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  Hoy<br>
                  Max: {{ datosClimaRespuesta.day1.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day1.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day1.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day1.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-around" style="margin-top: 50px; margin-left: -35px;">
        <div class="col-6 col-md-4">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 95%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="100" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  {{ dias[0] }}<br>
                  Max: {{ datosClimaRespuesta.day2.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day2.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day2.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day2.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 95%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="100" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  {{ dias[1] }}<br>
                  Max: {{ datosClimaRespuesta.day3.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day3.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day3.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day3.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 95%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="100" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  {{ dias[2] }}<br>
                  Max: {{ datosClimaRespuesta.day4.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day4.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day4.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day4.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around" style="margin-top: 50px; margin-left: -35px;">
        <div class="col-6 col-md-4">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 95%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="100" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  {{ dias[3] }}<br>
                  Max: {{ datosClimaRespuesta.day5.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day5.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day5.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day5.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div *ngIf="datosClimaRespuesta" class="card card-body" style="width: 95%; height: 100%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img src="assets/clima.png" alt="Imagen del clima" width="100" style="margin-top: -20px;">
              </div>
              <div class="col-12" style="margin-top: 20px;">
                <form class="d-flex flex-column col-12" [style.width]="'100%'">
                  {{ dias[4] }}<br>
                  Max: {{ datosClimaRespuesta.day6.temperature_max }}%<br>
                  Min: {{ datosClimaRespuesta.day6.temperature_min }}%<br>
                  Humedad: {{ datosClimaRespuesta.day6.humidity }}%<br>
                  Aclaraciones: {{ datosClimaRespuesta.day6.text }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="seleccionoApp" class="btn btn-primary" style="margin-top: 30px;" (click)="selectApp('');">Volver</div>

</div>
<router-outlet></router-outlet>